(
    timestamp: "1773390226",
    panic_message: "wgpu error: Validation Error\n\nCaused by:\n  In Device::create_shader_module, label = \'cloud_shadow_cs\'\n    \nShader validation error: Entry point main at Compute is invalid\n = Uses operations forbidden at this stage\n\n\n      Uses operations forbidden at this stage\n\n",
    location: Some("C:\\Users\\nchernova\\.cargo\\registry\\src\\index.crates.io-1949cf8c6b5b557f\\wgpu-27.0.1\\src\\backend\\wgpu_core.rs:1058:30"),
    entity_count: Some(0),
    active_system: None,
    engine_version: "0.1.0",
    profile: "shipping",
    recent_events: [],
    loaded_chunks: [],
)